#PageTitle {
  border-radius: 20px;
  background: #f5ede0;
  padding: 50px 3%;
  color: #000;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  .circle1 {
    position: absolute;
    right: 20%;
    top: 35%;
    transform: translate(-20%, -35%);
  }
  .circle2 {
    position: absolute;
    right: 15%;
    top: 65%;
    transform: translate(-15%, -65%);
  }
  .circle3 {
    position: absolute;
    right: 12%;
    top: 45%;
    transform: translate(-12%, -45%);
  }
}
